{{! Файл-шаблон того, как должен выглядеть блок }}
<div class="olympiads-grid"> {{! Контейнер-сетка, размещает элементы по сетке }}
    {{#olympiads}} {{! Итерация по массиву olympiads, сколько элементов в массиве - столько и блоков olympiads в HTML }}
        <div class="olympiad-card" style="background-image: url('{{image}}');"> {{! Класс одной карточки олимпиады }}
            <div class="olympiad-name">{{name}}</div> {{! Класс имени карточки, выводится просто имя карточки в самой карточке }}
        </div>
    {{/olympiads}}
</div>
